
.headline {
  font-family: Helvetica;
  font-size: 35px;
  color: black;
  font-weight: bold;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
}

.byline {
  font-family: Helvetica;
  font-size: 24px;
  color: black;
  text-align: center;
  padding-bottom: 20px;
}

.link {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
}

.subhead {
  font-family: Helvetica serif;
  font-size: 28px;
  color: black;
  font-weight: bold;
  text-align: left;
  padding-top: 10px;
  padding-left: 0;
  padding-bottom: 5px;
}

.p {
font-family: Helvetica;
font-size: 16px;
text-align: left;
line-height: 30px;
padding-left: 0px;
padding-top: 25px;
padding-bottom: 25px;
}

img {
  display: block;
  align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.column {
  font-family: Helvetica;
  font-size: 16px;
  text-align: center;
}

.caption {
  font-family: Helvetica;
  font-size: 14px;
  color: white;
  text-align: center;
  padding-left: 0px;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: red;
  opacity: 85%;
}

.spacer {
  padding: 20px;
}

.footer {
  background-color: black;
  padding: 30px;
  text-align: center;
  color: white;
  font-family: Helvetica;
  font-size: 20px;
}

.pull {
  font-family: Helvetica serif;
  font-size: 23px;
  color: #ff8533;
  font-weight: bold;
  text-align: left;
  padding-bottom: 10px;
  padding-left: 10px;
}

.hero-container {
  position: relative;
  text-align: center;
  color: red;
}

.hero-image {
  width: 100%;
}

.sidebar {
  background-color: #f2f2f2;
  font-family: Helvetica;
  width: 1000px;
  max-width: 100%;
  font-size: 14px;
  line-height: 25px;
  color: black;
  border: 15px solid red;
  padding: 50px;
  margin: 20px;
}

.sidebar-header {
  font-family: Helvetica;
  font-size: 20px;
  color: red;
  font-weight: bold;
  text-align: left;
  padding-bottom: 20px;
}

.sidebar-source {
  font-family: Helvetica;
  font-size: 18px;
  color: black;
  text-align: left;
}

/* unvisited link */
a:link {
  color: orange;
}

/* visited link */
a:visited {
  color: red;
}

/* mouse over link */
a:hover {
  color: yellow;
}

.line {
  background-color: orange;
  width: 1000px;
}
