
.headline {
  font-family: Helvetica;
  font-size: 35px;
  line-height: 55px;
  color: black;
  font-weight: bold;
  text-align: left;
  padding-top: 50px;
  padding-left: 0;
}

.byline {
  font-family: Helvetica;
  font-size: 16px;
  color: red;
  font-weight: bold;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
}

.subhead {
  font-family: Helvetica serif;
  font-size: 24px;
  color: black;
  font-weight: bold;
  text-align: left;
  padding-top: 10px;
  padding-left: 0;
  padding-bottom: 5px;
}

.p {
font-family: Helvetica;
font-size: 16px;
text-align: left;
padding-left: 0px;
padding-top: 25px;
padding-bottom: 25px;
}

img {
  display: block;
  align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.column {
  font-family: Helvetica;
  font-size: 16px;
  text-align: center;
}

.caption {
  font-family: Helvetica;
  font-size: 14px;
  color: white;
  text-align: center;
  padding-left: 0px;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: red;
  opacity: 85%;
}

.spacer {
  padding: 20px;
}

.footer {
  background-color: black;
  padding: 30px;
  text-align: center;
  color: white;
  font-family: Helvetica;
  font-size: 20px;
}

.pull {
  font-family: Helvetica serif;
  font-size: 20px;
  color: red;
  font-weight: bold;
  text-align: left;
  padding-top: 15px;
  padding-left: 0;
  padding-bottom: 15px;
}

.hero-container {
  position: relative;
  text-align: center;
  color: red;
}

.hero-image {
  width: 100%;
}

.sidebar {
  background-color: #f2f2f2;
  font-family: Helvetica;
  width: 1000px;
  font-size: 14px;
  line-height: 25px;
  color: black;
  border: 15px solid red;
  padding: 50px;
  margin: 20px;
}

.sidebar-header {
  font-family: Helvetica;
  font-size: 20px;
  color: red;
  font-weight: bold;
  text-align: left;
  padding-bottom: 20px;
}

.sidebar-source {
  font-family: Helvetica;
  font-size: 18px;
  color: black;
  text-align: left;
}
